<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LangChain Agent</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
<div class="mdc-form-field">
    <form id="user-input-form" action="/agent" method="post">
        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
            <label class="mdc-floating-label" for="system-prompt"></label>
            <input type="text" id="system-prompt" name="system-prompt"
                   placeholder="ここにエージェントの設定を入力してください。"
                   value="あなたは猫の獣人です。語尾に『にゃ』をつけて対話してください。">
            <div class="mdc-line-ripple"></div>
        </div>
        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
            <label class="mdc-floating-label" for="user-input"></label>
            <input type="text" id="user-input" name="user-input"
                   placeholder="ここにエージェントに聞きたいことを入力してください。"
                   value="大統領は最新の一般教書でケタンジ・ブラウン・ジャクソンについて何と言いましたか?簡潔に答えてください。">
            <div class="mdc-line-ripple"></div>
        </div>
        <button class="mdc-button foo-button" data-mdc-auto-init="MDCRipple">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Send</span>
        </button>
    </form>
</div>
<ul id="history">
    {% for message in history %}
        {% if message['type'] == 'user' %}
            <li class="user-input"><strong>User:</strong> {{ message['message'] }}</li>
        {% else %}
            <li class="system-response"><strong>Response:</strong> {{ message['message'] }}</li>
        {% endif %}
    {% endfor %}
</ul>
<script type="text/javascript">
  window.mdc.autoInit();
</script>
</body>
</html>
