<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LangChain Agent</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
<form id="query-form" action="/agent" method="post">
    <label for="query"></label><br>
    <input type="text" id="query" name="query"
           value="大統領は最新の一般教書でケタンジ・ブラウン・ジャクソンについて何と言いましたか?簡潔に答えてください。"><br>
    <input type="submit" value="Submit">
</form>

<ul id="history">
    {% for input, response in history %}
        <li class="user-input"><strong>User:</strong> {{ input }}</li>
        <li class="system-response"><strong>Response:</strong> {{ response }}</li>
    {% endfor %}
</ul>

</body>
</html>
